<template>
  <div class="login">
    <img
        class="login__image"
        src="../assets/world_wide_web.png"
        alt="Login Image"
    />
    <div class="login__content">
      <div class="content__logo">Fitness App</div>
      <div class="content__form" v-if="!$auth.loading && !$auth.isAuthenticated">
        <div class="form__title">Sign In</div>
        <div class="form__content">
          <div class="form__google login__source" @click="$auth.loginWithRedirect({})">
            <!-- <img class="source__logo" src="../assets/external-content.duckduckgo.com.png" alt="google logo"> -->
            <div class="source__name">
              Login
            </div>
          </div>
          <router-link class="button" tag="div" :to="'/home'">
            Or Browse
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Login extends Vue {}
</script>

<style lang="scss" scoped>
.login {
  background: var(--primary-2);
  min-width: 100vh;
  min-height: 100vh;
  display: flex;

  .login__image {
    position: absolute;
    left: -64px;
    top: 64px;
    max-width: 50%;
    z-index: 0;
    min-width: 100px;
  }

  .login__content {
    max-width: 500px;
    width: 100%;
    margin: auto;
    align-self: center;
    z-index: 1;

    .content__logo {
      background: var(--background-1);
      box-shadow: var(--box-shadow-1);
      border-radius: var(--border-radius-1);
      display: inline-block;
      padding: 8px 16px;
      font-size: 36px;
      font-weight: bold;
      color: var(--color-1);
      margin-bottom: 64px;
    }

    .content__form {
      width: 100%;

      background: var(--background-1);
      box-shadow: var(--box-shadow-1);
      border-radius: var(--border-radius-2);

      .form__title {
        padding: 4px 8px;
        text-align: center;
        border-bottom: 4px solid var(--color-4);
        font-size: 32px;
        color: var(--color-1);
        font-weight: bold;
      }

      .form__content {
        padding: 12px 16px;

        .login__source {
          padding: 8px 12px;
          box-shadow: var(--box-shadow-1);
          font-weight: bold;
          color: var(--color-2);
          border-radius: var(--border-radius-1);
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          justify-content: center;

          .source__logo {
            height: 28px;
            margin-right: 8px;
          }

          .source__name {
          }
        }
      }
    }
  }
}
</style>
