<template>
  <div class="flex-auto h-full ">
    <div class="flex flex-col overflow-y-hidden overflow-x-hidden">
      <div class="text-gray-600 flex flex-col">
        <div class="mx-5  min-h-screen grid place-content-evenly">

          <div class="bg-white py-8 px-10 text-center rounded-md shadow-lg transform -translate-y-20 sm:-translate-y-24 max-w-xs mx-auto">
            <h2 class="font-semibold text-2xl mb-6">Profile</h2>
            <img class="w-32 h-32 object-cover rounded-full mx-auto shadow-lg"  :src="this.$auth.user.picture" alt="User avatar">
            <p class="capitalize  relative text-2xl mt-1">{{ $auth.user.name }}</p>
            <button class="rounded-md bg-gradient-to-r from-blue-400 to-indigo-500 text-xl text-white pt-3 pb-4 px-8 inline">Send a message</button>
          </div>
        </div>

      </div>


    </div>

  </div>
</template>