<template>
  <div>
    <div class="sphere"></div>

    <span class="text-5xl tracking-wide text-d-d"><span>
      <span>{{this.title}} </span><span class="yellow-heading">{{ this.message }}</span>
    </span>
    </span>
    <div class="lines">
      <div
          class="line2"></div>
      <div class="line"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CustomHeader',
  props: {
    title: String,
      message: String

  }
}
</script>

<style scoped>

</style>
