<template>
  <div>
    <button v-on:click="toggleDropdown">
      <slot name="dropdown_activator" />
    </button>
    <keep-alive>
      <template v-if="show && enabled">
        <transition  mode="in-out" name="dropdown">
          <slot name="dropdown" />
        </transition>
      </template>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  props: {
    enabled: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
    toggleDropdown () {
      if (this.enabled) {
        this.show = !this.show;
        (this.show) ? document.addEventListener('click', this.close) : document.removeEventListener('click', this.close)
      }
    },
    close (e) {
      if (!this.$el.contains(e.target)) {
        this.show = false
      }
    }
  },
  beforeDestroy () {
    document.removeEventListener('click', this.close)
  }
}
</script>

<style scoped>
.dropdown-enter-active, .dropdown-leave-active {
  transition: all .3s;
}
.dropdown-enter, .dropdown-leave-to {
  opacity: 0;
}
.dropdown-enter-to {
  opacity: 1;
}
</style>
© 2021 GitHub, Inc.
