<template>
  <b-modal :active.sync="isActive" full-screen @close="toggleOff">
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
    <div class="main">
      <div class="px-4 sm:px-8 lg:px-16 xl:px-20 mx-auto">

        <!-- hero -->
        <div class="hero">
          <!-- hero headline -->
          <div class="hero-headline flex flex-col items-center justify-center pt-24 text-center">
            <h1 class=" font-bold text-3xl text-gray-900 pb-5">Find {{muscleGroupName}} exercises</h1>

          </div>

          <!-- image search box -->
          <div class="box pt-6">
            <div class="box-wrapper">

              <div class=" bg-white rounded flex items-center w-full p-3 shadow-sm border border-gray-200">
                <button @click="getImages()" class="outline-none focus:outline-none"><svg class=" w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
                <input type="search" @keydown.enter="getImages()" placeholder="search for exercises" x-model="q" class="w-full pl-4 text-sm outline-none focus:outline-none bg-transparent">

              </div>

            </div>
          </div>

          <section id="photos" class="my-5 grid grid-cols-1 md:grid-cols-4 gap-4">
            <div v-for="image in images" :key="image.id">
              <a :href="image.largeImageURL" class="hover:opacity-75 " target="_new"><img class="w-full h-64 object-cover" :src="image.largeImageURL" :alt="image.tags" /></a>
            </div>
          </section>

        </div>


      </div>
    </div>
  </b-modal>
</template>

<script>


export default {
  name: "EditExercisesModal",
  components: {},
  props: {
    muscleGroupName: String,
    isActive: Boolean
  },
  methods: {
    toggleOff() {
      this.isLoading = false;
      this.createSuccess = false;
      this.$emit("toggleOff");
    },
    getImages: async function() {
      console.log("params", this.q, this.imageType);
      const response = await fetch(
          `https://pixabay.com/api/?key=${this.apiKey}&q=${
              this.q
          }&image_type=${this.imageType}&per_page=${this.perPage}&page=${this.page}`
      );
      const data = await response.json();
      this.images = data.hits;
    }

  },
  data() {
    return {
      images: [],
      apiKey : "15819227-ef2d84d1681b9442aaa9755b8",
      q: "",
      imageType: "",
      page: "",
      perPage: 52,
      isLoading: false,
      createSuccess: false,
      isFullPage: true
    };
  }
};


</script>

<style>
select option {
  color: black;
}

.error {
  color: red;
}

.test {
  position: relative;
  width: 40%;
}

.test input {
  color: cornflowerblue;
  font-size: 1.2rem;
  caret-color: black;
}

.test:before {
  border-style: solid;
  border-width: medium 0 0 0;
  border-color: rgba(0, 0, 0, 0.42);
  bottom: -1px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

#reserve-textfield {
  line-height: 20px;
  border-style: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.margin-right {
  margin-right: 0.6%;
}

.margin-both {
  margin-right: 0.3%;
  margin-left: 0.3%;
}

#button-container {
  margin-top: auto;
  width: 100%;
}

.extendButton {
  align-self: flex-end;
  position: relative;
  background-color: #2fa1ed !important;
  color: white !important;
  border: darkgray 1px !important;
}

.extendButton:hover {
  color: ghostwhite !important;
  border-color: white !important;
}

.selected-button {
  border-color: cornflowerblue !important;
  color: #363636 !important;
}

.extendButton:focus {
  border-color: cornflowerblue !important;
  color: #363636 !important;
}

#container {
  padding: 6%;
  height: 100vh;
}

.reserve-text {
  font-size: 1.3rem;
  margin-top: 1%;
  margin-bottom: 1.5%;
  color: black !important;
}

.reserve-title {
  font-size: 55px;
  font-weight: 500;
}

.reserve-select {
  width: 40%;
  font-size: 20px;
  max-height: unset;
  margin-bottom: 3%;
}

.buttonTwo:hover {
  color: cornflowerblue !important;
  border-color: cornflowerblue !important;
}

.buttonTwo:active {
  color: cornflowerblue !important;
  border-color: cornflowerblue !important;
}

.buttonTwo:focus,
.button.is-focused {
  border-color: cornflowerblue !important;
  color: #363636 !important;
}

.button {
  color: black;
}

.groove {
  border-style: groove;
  border-color: rgba(115, 115, 115, 0.77);
  border-width: 3px !important;
}

.main-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.timer {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-status {
  display: flex;
  text-align: center
}

.timer-title {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  /* position: absolute; */
}
</style>
