<template>
  <div>
  <div
      class="  flex flex-col  justify-center items-center xl:items-start xl:flex-row "
  >

    <div class=" w-10/12 text-center ">
      <p class="mb-2 text-gray-700 font-semibold font-sans tracking-wide">Muscle Groups</p>
      <draggable
          tag="ul"
          class="draggable-list"
          ghost-class="moving-card"
          filter=".action-button"
          :list="muscleGroups"
          :animation="100"

          :group="{ name: 'all-users', pull: 'clone', put: false }"

      >
        <muscle-group-card
            v-for="muscleGroup in muscleGroups"
            :muscleGroup="muscleGroup"
            :key="muscleGroup.id"
            @on-edit="onEdit"
            @on-delete="onDelete"
        ></muscle-group-card>
      </draggable>
    </div>

    <div v-for="day in days" class=" w-10/12 text-center px-3">
      <p class="mb-2 text-gray-700 font-semibold font-sans tracking-wide">Day {{ day }}</p>
      <draggable
          tag="ul"
          group="all-users"
          class="draggable-list"
          ghost-class="moving-card"
          filter=".action-button"
          :list="dayList[day-1]"
          :animation="100"
      >

        <muscle-group-card
            v-for="muscleGroup in dayList[day-1]"
            :muscleGroup="muscleGroup"
            :key="muscleGroup.id"
            @on-edit="onEdit"
            @on-delete="onDelete(day,muscleGroup.id)"
        ></muscle-group-card>
      </draggable>
    </div>


  </div>

    <EditExercisesModal
        :isActive="editMuscleGroupModal"
        :muscle-group-name="selectedMuscleGroup"
        v-on:toggleOff="toggleEditMuscleGroupsOff"
    />
  </div>
</template>

<script>
import Draggable from "vuedraggable";
import MuscleGroupCard from "./MuscleGroupCard";
import EditExercisesModal from "@/components/EditExercisesModal";

export default {
  name: "ExercisePlanner",
  props: { days: Number },
  components: {
    Draggable,
    MuscleGroupCard: MuscleGroupCard,
    EditExercisesModal
  },
  mounted() {
    this.$apiService.exercises.getMuscleGroups().then((muscleGroups) => {
      console.log(muscleGroups);

      this.muscleGroups = muscleGroups;
    }).finally(() => {
      console.log("DONE");
    });
  },
  data() {
    return {
      muscleGroups: { name: "", votes: 0, isUpvoted: false },
      dayList: [[], [], [], [], [], [], []],
      editMuscleGroupModal: false,
      selectedMuscleGroup:""
    };
  },
  methods: {
    onEdit(msg, id) {
      this.editMuscleGroupModal = true;
      this.selectedMuscleGroup = msg;

    },
    onDelete( day, id) {
      alert(`Deleting ${id} on Day ${day}`);
      console.log(day)
      console.log(id)
      console.dir(this.dayList)
/*      const daylistHere =   this.dayList[day - 1].filter(x => x.id !== id);

      console.log('daylisthere:',daylistHere)
      this.dayList[day - 1] = daylistHere*/

      const p = this.dayList[day-1].splice(id, 1);

      this.dayList[day - 1]  = p;
      console.log(this.dayList)
    },
    toggleEditMuscleGroupsOff() {
      //toggle for the Create Meeting component
      this.editMuscleGroupModal = false;
    },
  }
};
</script>


<style scoped>
.draggable-list {
  min-height: 100px;
}

/* Unfortunately @apply cannot be setup in codesandbox,
but you'd use "@apply border opacity-50 border-blue-500 bg-gray-200" here */
.moving-card {
  opacity: 0.5;
  background: #F7FAFC;
  border: 1px solid #4299e1;
}
</style>
