<template>
  <li
      class="p-3 mb-3 flex justify-between items-center bg-white border border-white shadow rounded-lg cursor-move"
  >
    <div class="flex items-center">
      <img class="w-8 h-8 rounded-full" :src="muscleGroup.image" :alt="muscleGroup.muscleGroup">
      <p class="ml-2 text-gray-700 font-semibold font-sans tracking-wide">{{ capitalize(muscleGroup.muscleGroup.toLowerCase())
        }}</p>
    </div>
    <div class="flex">
      <button
          aria-label="Edit user"
          class="action-button p-1 focus:outline-none focus:shadow-outline text-teal-500 hover:text-teal-600"
          @click="$emit('on-edit', capitalize(muscleGroup.muscleGroup.toLowerCase()) )"
      >
        <EditIcon />
      </button>
      <button
          aria-label="Delete user"
          class="action-button p-1 focus:outline-none focus:shadow-outline text-red-500 hover:text-red-600"
          @click="$emit('on-delete',capitalize(muscleGroup.muscleGroup.toLowerCase(),) )"
      >
        <Trash2Icon />
      </button>
    </div>
  </li>
</template>
<script>
import { EditIcon, Trash2Icon } from "vue-feather-icons";

export default {
  components: {
    EditIcon,
    Trash2Icon
  },
  methods: {
    capitalize(s) {
      return s[0].toUpperCase() + s.slice(1);
    }
  },
  props: {
    muscleGroup: {
      type: Object
    }
  }
};
</script>
