<template>
  <div class="flex-auto h-full w-full flex relative justify-center ">
    <form-wizard class="flex-col  lg:w-11/12 xl:w-2/3" :title="''" :subtitle="''" :color=" '#FFD600'"
                 @on-complete="onComplete">
      <tab-content title="Personal details"
                   :before-change="validateFirstStep" :icon="'fas fa-user'">
        <div class="flex flex-col overflow-y-auto overflow-x-hidden">
          <div class="text-gray-600 flex flex-shrink-0 flex-col pb-8">

          </div>
          <div>


          </div>

          <ul class="relative m-0 p-0 list-none h-full">
            <div class="text-2xl p-1 w-full flex relative justify-center p-4   ">
              <div class="text-gray-600 justify-center  bg-blue-400 p-4 relative">
                <div class="flex items-center align-middle">
                  <custom-header v-bind:title="choose" v-bind:message="level"></custom-header>
                </div>
              </div>
            </div>
            <div class="flex justify-center mt-3 pl-2 pr-2">
              <div class="w-1/3">
                <ul class="flex mb-0 list-none flex pt-3 pb-4 flex-row">
                  <li class="-mb-px mr-2 last:mr-0 flex-auto text-center" v-for="card in this.cards" :key="card.name">
                    <a class="text-xs text-black font-bold roboto  px-5 py-3 shadow-lg rounded block leading-normal "
                       v-on:click="toggleCat(cards.indexOf(card),'All')"
                       v-bind:class="{'text-blue-600 bg-white': openTab !== cards.indexOf(card), ' bg-yellow': openTab === cards.indexOf(card)}">
                      {{ card.name }}
                    </a>
                  </li>

                </ul>

              </div>
            </div>

            <div class="text-2xl p-1 w-full flex relative justify-center pt-24   ">
              <div class="text-gray-600 justify-center  bg-blue-400 p-4 relative">
                <div class="flex items-center align-middle">
                  <custom-header v-bind:title="amount" v-bind:message="days"></custom-header>
                </div>

              </div>

            </div>
            <div class="flex justify-center">
              <!--          <span >{{value}}</span>-->
              <VueSlider class="my-4 slider" v-model="wizard.days"
                         :min="1"
                         :max="7"
                         :interval="1"></VueSlider>

            </div>

          </ul>
          <div class="flex flex-row justify-center pt-24">
            <div class="circle text-3xl" v-for="stim in this.stimulus" :key="stim.name" v-bind:class="stim.color">
              <span class="text-black">{{ stim.name }}</span>
              <div class="circle__inner">

                <div class="circle__wrapper" cite="http://www.inspireux.com/category/quotes/jesse-james-garrett/">
                  <div class="circle__content text-white"><a v-on:click="wizard.stimulus = stimulus"
                                                             class="hover:font-bold active:font-bold text-white  focus-within:text-yellow"
                                                             v-for="stimulus in stim.stimulus"
                                                             :key="stimulus">{{ stimulus
                    }}<br></a>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </tab-content>
      <tab-content title="Workout" :icon="'fas fa-dumbbell'">  <exercise-planner :days="wizard.days"></exercise-planner></tab-content>
      <div class="text-xl p-1 w-full flex relative justify-center pt-24   ">
        <div class="text-black w-full flex  bg-blue-400 p-4 relative">
          <div class="flex-col items-center align-middle"><span><i
              class="fas fa-certificate pr-1"></i>{{ DaysEnum[wizard.level + 1] }}</span><br> <span><i
              class="fas fa-calendar-day  pr-1"></i>{{ wizard.days }} </span><br> <span> <i class="fas fa-dumbbell  pr-1"></i>{{ wizard.stimulus
            }}</span></div>
        </div>
      </div>
    </form-wizard>

  </div>
</template>

<script>
import CustomHeader from "./CustomHeader";
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/antd.css";
import ExercisePlanner from "@/components/ExercisePlanner";


export default {
  name: "Overview",
  components: { ExercisePlanner, CustomHeader, VueSlider },

  data() {
    return {
      cards: [{ name: "Beginner", color: "beginner" }, { name: "Intermediate", color: "intermediate" }, {
        name: "Advanced",
        color: "advanced",
      }],
      selected: "",
      openTab: 1,
      level: "Level",
      choose: "Choose",
      amount: "Amount of",
      days: "Days",
      value: 1,
      stimulus: [{
        name: "Hypertrophy",
        stimulus: ["Mechanical damage", "Mechano transduction", "Oxidative", "Neuro endocrine"],
        color: "hypertrophy"
      }, { name: "Metabolic", stimulus: ["Systemic", "Local AMPK", "Oxidative"], color: "metabolic" }, {
        name: "Neurologic",
        stimulus: ["Neuro intensity", "Neuro coordination"],
        color: "neurologic"
      }],
      wizard: {
        level: 1,
        days: 4,
        stimulus: "None"

      },

      DaysEnum: { 1: "Beginner", 2: "Intermediate", 3: "Advanced" }
    };
  },
  methods: {
    validateFirstStep() {
      return this.wizard.stimulus !== null && this.wizard.stimulus !== undefined && this.wizard.stimulus !== "" && this.wizard.stimulus !== "None" ;
    },
    changeCategoryFilter(category) {
      this.selected = category;
    }
    ,
    toggleCat(tabNumber, category) {
      this.toggleTabs(tabNumber);
      this.changeCategoryFilter(category);
    },
    onComplete: function() {
      alert("Yay. Done!");
    }
    ,
    toggleTabs: function(tabNumber) {
      this.wizard.level = tabNumber;
      this.openTab = tabNumber;

    }
  }
};
</script>

<style scoped>


body {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #161b1e;
}

.quote-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 10vh auto 0; /*OPTIONAL MARGIN*/
}

.text {
  width: 100%;
  height: 100%;
  /*BLUE BG*/
  background: radial-gradient(
      ellipse at center,
      rgba(0, 128, 172, 1) 0%,
      rgba(0, 128, 172, 1) 70%,
      rgba(0, 128, 172, 0) 70.3%
  );
  /*RED BG
  background: radial-gradient(
    ellipse at center,
    rgba(210, 20, 20, 1) 0%,
    rgba(210, 20, 20, 1) 70%,
    rgba(210, 20, 20, 0) 70.3%
  );*/
  position: relative;
  margin: 0;
  color: white;
}

.text p {
  height: 100%;
  font-size: 21px;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
      0 0,
      98% 0,
      50% 6%,
      23.4% 17.3%,
      6% 32.6%,
      0 50%,
      6% 65.6%,
      23.4% 82.7%,
      50% 94%,
      98% 100%,
      0 100%
  );
  shape-margin: 7%;
}

.text p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
  );
  shape-margin: 7%;
}

.quote-wrapper blockquote footer {
  width: 100%;
  position: absolute;
  bottom: 25px;
  font-size: 17px;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.quote-wrapper::before {

  font-size: 270px;

  line-height: 0.78;
  line-height: 1;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 1;
  font-family: sans-serif, serif;
  color: #ccc;
  opacity: 0.9;
}

@media (min-width: 850px) {
  .quote-wrapper {
    width: 270px;
    height: 270px;
  }


  .text p {
    font-size: 1.3rem;
  }

  .quote-wrapper blockquote footer {
    bottom: 32px;
  }
}

.hypertrophy:after {
  background-color: #f64141 !important;
}

.metabolic:after {
  background-color: #ffd93b !important;
}

.neurologic:after {
  background-color: #4e4944 !important;
}

.slider {
  width: 35% !important;
}

.dropdown {
  margin-top: 4rem;
}

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
  margin-right: 20px;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 210px;
  height: 0;
  border-radius: 50%;
  background-color: #ddd;
  content: "";

}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 1rem;
  }
}


</style>