<template>
  <div>
    <div class="text-gray-600 flex flex-shrink-0 flex-col">
      <div class="flex relative items-center p-4 h-12">
        <span class="text-2xl tracking-wide">Program</span>
      </div>
    </div>

    <div class="text-gray-600  bg-blue-400 flex w-full">

    </div>
  </div>
</template>

<script>


export default {
  name: "Program"
}
</script>

<style scoped>

</style>