<template>
  <vue-slider v-model="value"
              :min="1"
              :max="7"
              :interval="1"/>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
  name: 'Slider',
  components: {
    VueSlider
  },
  data() {
    return {
      value: 1
    }
  }
}
</script>

<style scoped>

</style>