@import url('../node_modules/font-awesome/css/font-awesome.min.css');
.text-d-d {
    padding-left: 5px;
    font-style: normal;
    font-weight: bold;
    line-height: 56px;
}

.yellow-heading {

    font-style: normal;
    font-weight: 200 !important;

    color: #FFD600;
}

.sphere {
    position: relative;
    top: 7px;
    left: 0;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #FFD600;
}

.line {
    position: absolute;
    bottom: 20%;

    height: 0.09rem;
    width: 90%;
    background-color: #FFD600;
}

.line2 {
    position: absolute;
    bottom: 17%;
    left: 90%;
    height: 0.3rem;
    width: 10%;
    background-color: #FFD600;
}

.lines {
    margin-top: 15px;
}

.router-link-active {
    text-color: #FFD600;
    border-left: 4px;
    border-color: #FFD600;
}
.vue-slider-dot-tooltip-inner{

font-size: 14px;
white-space: nowrap;
padding: 2px 5px;
min-width: 20px;
text-align: center;
color: #ffffff;
border-radius: 5px;
border-color:#FFD600!important;
background-color: #FFD600!important;
box-sizing: content-box;
}
.vue-slider-process{
    background-color: #FFD600!important;
}
.vue-slider:hover .vue-slider-dot-handle:hover {
    border-color: #FFD600!important;
}
.vue-slider-dot-handle {
    border-color: #FFD600!important;
}
